<h1 class="text-3xl">Precios de la aplicacion</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Elit. Nemo, cumque iste temporibus possimus dignissimos dolorem dolore vitae ut tenetur animi, ea omnis accusamus sed voluptates quos molestiae eius quod alias.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere maxime deleniti architecto fuga deserunt, ad inventore fugiat cumque similique, quam iste cupiditate totam amet earum molestiae quisquam necessitatibus repudiandae provident.
  </p>
</section>
