<h1 class="text-3xl">Listado de pokemons</h1>
<h2 class="text-xl">
  Página actual: {{ currentPage() }}
</h2>

<hr class="my-2">


<pokemon-list
  [pokemons]="pokemons()"
/>

<!--
// The server already respond with data then the first load wont be necesary to
// show loader
@if ( !isLoading() ) {
  <pokemon-list />
} @else {
  <pokemon-list-skeleton />
}

-->

<div class="flex justify-between">
  <button (click)="loadPokemons(-1)" class="mt-2">
    Anteriores
  </button>
  <button (click)="loadPokemons(+1)" class="mt-2">
    Siguientes
  </button>
</div>
